.admin-panel {
    .title {
        margin-left: $spacing-small;
    }

    .select__option {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        color: $color-normal;
        cursor: pointer;
    }

    .add-topic {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action {
            @include seperator-left;

            position: relative;
            padding: 0 $spacing-extra-small * 2;
            height: 56px;
            display: flex;
            align-items: center;
        }
    }

    .body {
        display: flex;
        margin-right: $spacing-large;

        aside {
            width: 300px;
            margin-right: $spacing-normal;
            
            a {
                text-decoration: none;

                div {
                    padding: $spacing-extra-small * 2 $spacing-small;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .content {
            flex-grow: 1;
        }

        .card {
            padding: $spacing-extra-small * 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $spacing-extra-small * 2;

            input {
                border: none;
                padding: 0;
            }
        }
    }
}