.admin-panel {
    .title {
        margin-left: $spacing-small;
    }

    .select__option {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        color: $color-normal;
        cursor: pointer;
    }

    .body {
        display: flex;
        margin-right: $spacing-large;

        aside {
            width: 300px;
            margin-right: $spacing-normal;
            
            a {
                text-decoration: none;

                div {
                    padding: $spacing-extra-small * 2 $spacing-small;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .content {
            flex-grow: 1;
        }

        .card {
            padding: $spacing-extra-small * 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $spacing-extra-small * 2;

            input {
                border: none;
                padding: 0;
            }
        }
    }

    .storage {
        .preview {
            text-align: center;

            img {
                height: 50px;
            }
        }

        textarea {
            height: 50px;
            width: 100%;
            padding: 0;
            resize: vertical;
        }
    }

    .featured-post-panel {
        .title {
            text-align: left;
        }

        form {
            margin-bottom: $spacing-normal;
        }

        .preview {
            display: flex;
            justify-content: center;

            .featured-post {
                zoom: .5;
                margin: 0;
            }
        }
    }

    .actions .icon {
        margin-right: $spacing-extra-small;

        &:last-child {
            margin-right: 0;
        }
    }
    
    .cover-wrapper .cover {
        max-width: 300px;
        max-height: 200px;
    }
}