.topic-page, .tag-page {
    .title {
        text-align: center;
        margin-bottom: $spacing-normal;
        font-size: $font-size-large;
    }
}

.tag-page {
    .head {
        display: flex;
        justify-content: center;
        
        .select-container {
            min-width: 200px;
        }
    }
}