.user-page {
    main {
        .head {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar {
                cursor: initial;
            }

            .username {
                margin-top: $spacing-extra-small * 2;
                font-size: $font-size-normal;
            }

            .role {
                margin-top: $spacing-extra-small;
            }
        }

        .information-links-wrapper {
            display: flex;
            justify-content: space-between;

            .information {
                display: flex;
    
                .statistics {
                    width: $spacing-large;
    
                    li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: $spacing-extra-small * 2;
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                a {
                    margin-bottom: $spacing-extra-small * 2;
                }
            }
        }
    }
}