.dialog {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .inner-dialog {
        @include border-light;
        background-color: white;
        padding: $spacing-extra-small * 2;
        width: 500px;

        .title {
            text-align: center;
            margin: 0;
            margin-top: $spacing-extra-small * 2;
        }

        .subtitle {
            font-weight: $font-weight-light;
            font-size: $font-size-normal;
            margin-bottom: $spacing-extra-small * 2;
        }

        .alert {
            border-radius: $border-radius-normal;
            display: flex;
            align-items: center;
            
            svg {
                margin-right: $spacing-extra-small;
            }
        }
    }
}

.dialog-field {
    margin: $spacing-extra-small;
    margin-top: $spacing-small;

    &.inline {
        display: inline;
    }

    button {
        width: 100% !important;
    }

    .collapsible {
        .label {
            width: unset !important;
        }
    }
}