.featured-post {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

    .text-container {
        width: 800px;
        text-align: right;
        margin-right: $spacing-extra-small * 2;

        .head {
            margin-bottom: $spacing-normal;

            .blogpost-title {
                font-size: $font-size-large;
            }

            .username {
                font-size: $font-size-normal;
            }
        }

        .content {
            font-size: $font-size-normal;
        }
    }

    .image-container {
        width: 800px;

        .inner-image-container {
            width: calc(500px * (4 / 3));

            img {
                width: 100%;
                border-radius: $border-radius-normal;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        height: unset;
        flex-direction: column;

        .text-container {
            width: 100%;
            text-align: center;
            margin: 0;
        }

        .image-container {
            width: 100%;
            
            .inner-image-container {
                width: 100%;
            }
        }
    }
}