.header {
    padding: $spacing-normal $spacing-normal 0 $spacing-normal;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-normal;

    #header-portal {
        display: flex;
        align-items: center;
    }

    .left, .right {
        display: flex;

        .search-bar {
            margin-left: $spacing-normal;
        }

        .settings-icon-wrapper {
            display: flex;
            align-items: center;
            margin-left: $spacing-small;
        }
    }

    .right {
        align-items: center;
    }

    .auth, .profile {
        font-size: $font-size-small;
        display: flex;
        align-items: center;

        a {
            margin-left: $spacing-small;
        }
    }

    .profile {
        .avatar {
            margin-left: $spacing-small;
        }

        a {
            text-decoration: none;
        }
    }

    @media only screen and (max-width: 1000px) {
        padding: $spacing-small $spacing-extra-small * 2 0 $spacing-extra-small * 2;
        padding-bottom: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;

        hr {
            width: 100%;
        }

        .top {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-small;
            width: 100%;

            .logo {
                display: flex;
                align-items: center;
            }

            .profile {
                a {
                    font-size: 16px;
                    margin-left: 0;
                }

                .avatar {
                    font-size: 36px !important;
                    margin-left: $spacing-extra-small;
                }
            }
        }

        #header-portal {
            width: 100%;
        }

        .topic-crumb-wrapper {
            margin-left: -$spacing-extra-small;
            margin-top: $spacing-small;
        }
    }
}