table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        border-bottom: 1px solid $color-light;
    }

    th {
        font-weight: $font-weight-normal;
    }

    td, th {
        padding: 15px 10px;
        text-align: left;
        vertical-align: center;
        color: $color-normal;
    }
}