@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "./variables.scss";
@import "./components.scss";
@import "./pages.scss";

body {
    color: $color-normal;
    font-family: $font-family;
    font-weight: $font-weight-light;
    font-size: $font-size-small;
    margin: 0;
    overflow-x: hidden;

    a {
        color: $color-normal;
    }

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-light;
        border: 2px solid white;

        &:hover {
            background: $color-normal;
        }
    }
}

section {
    padding: 0 $spacing-normal;
    margin-bottom: $spacing-normal;
}

.title {
    font-weight: $font-weight-light;
    font-size: $font-size-normal;
    margin: 0 0 25px 0;

    &.center {
        text-align: center;
    }
}

main {
    margin: 0 auto;
    max-width: 900px;

    @media only screen and (max-width: 900px) {
        & {
            padding: 0 $spacing-extra-small * 2;
        }
    }
}

button {
    border: 1px solid $color-light;
    background: white;
    color: $color-normal;
    font-size: $font-size-extra-small;
    padding: $spacing-extra-small;
    cursor: pointer;
    border-radius: 4px;

    &.large {
        padding: $spacing-extra-small $spacing-extra-small * 2;
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }
}

input, textarea {
    @mixin text {
        font-size: $font-size-extra-small;
        color: $color-normal;
    }

    @include text;
    padding: $spacing-extra-small * 2;
    border-radius: 4px;
    border: 1px solid $color-light;

    &::placeholder {
        @include text;
        font-size: $font-size-extra-small;
        color: $color-light;
    }

    &:focus {
        outline: none;
    }
}

textarea {
    width: calc(100% - #{$spacing-extra-small * 4});
    height: $spacing-normal * 2;
    resize: none;
    font-family: $font-family;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: $font-weight-normal;
}

.spacer {
    height: $spacing-normal;
}

.spacer-small {
    height: $spacing-small;
}

hr {
    margin: $spacing-normal / 2 0;
}


.select-container {
    margin-bottom: $spacing-small;

    .select__control {
        height: 56px;
        padding-left: $spacing-extra-small;
        border-color: $color-light;
        box-shadow: none;

        &:hover {
            border-color: $color-light;
        }

        &.select__control--menu-is-open {
            border-radius: 4px 4px 0 0;
            border-bottom: none;

            .select__dropdown-indicator {
                transform: rotate(180deg);
            }
        }
    }

    .select__placeholder {
        font-size: $font-size-extra-small;
    }

    .select__dropdown-indicator {
        $color: $color-normal;
        color: $color;
        padding: $spacing-extra-small * 2;
        transition: transform 250ms;

        &:hover {
            color: $color;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .select__indicator-separator {
        background-color: $color-light;
        margin: 12px 0;
    }

    .select__single-value, .select__value-container div {
        color: $color-normal;
    }

    .select__menu {
        @include seperator-top;
        
        position: relative;
        margin: 0;
        border-radius: 0 0 4px 4px;
        border: 1px solid $color-light;
        border-top: none;
        box-shadow: none;
    }

    .select__menu-list {
        padding: 1px 0 0 0;
    }

    .select__option {
        padding: $spacing-extra-small $spacing-extra-small * 2;
        cursor: default;

        &.select__option--is-focused, &.select__option--is-selected {
            background-color: rgba(122, 122, 122, .1);
            color: $color-normal;
        }
    }
}