.form-page {
    .title {
        text-align: center;
    }

    form {
        $input-spacing: $spacing-small;

        .input, label {
            display: block;
        }

        label {
            margin-bottom: $spacing-extra-small;
        }

        .input {
            box-sizing: border-box;
            width: 100%;
        }

        .input {
            margin-bottom: $spacing-small;
        }

        .markdown-editor {
            margin-bottom: $input-spacing / 2;
        }

        .file-input-wrapper {
            display: flex;

            &:not(.multi) {
                margin-bottom: $input-spacing;
            }

            label {
                display: flex;
            }
        }

        .links {
            display: grid;
            grid-template: 
                "1fr 1fr"
                "1fr 1fr";
            grid-gap: $spacing-extra-small * 2;
            margin-bottom: $input-spacing;
        }

        .submit {
            display: flex;
            align-items: center;
            height: 40px;
            margin-right: $spacing-small;

            .icon {
                margin-right: 12px;
            }
        }

        .actions {
            display: flex;
        }

        .available-assets {
            margin-bottom: $spacing-small;

            .card {
                font-size: $font-size-extra-small;
                margin: $spacing-extra-small 0;
                padding: $spacing-extra-small;
                display: flex;
                justify-content: space-between;

                .item {
                    display: flex;
                    align-items: center;

                    .icon {
                        cursor: pointer;
                        color: $color-normal;
                    }
                }

                .preview {
                    width: 100px;
                    margin-right: $spacing-small;
                    display: flex;

                    img {
                        width: 100%;
                    }
                }

                .meta {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100%
                }
            }
        }
    }
}

.profile-comments-page, .profile-blogposts-page {
    .title {
        text-align: center;
        margin-bottom: $spacing-normal;
    }
}

.profile-comments-page {
    .comment {
        margin-bottom: $spacing-small;
        padding: $spacing-extra-small * 2;

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-extra-small;
            font-weight: $font-weight-normal;

            .prefix {
                font-weight: $font-weight-light;
            }
        }

    }
}

.user-page {
    main {
        .head {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar {
                cursor: initial;
            }

            .username {
                margin-top: $spacing-extra-small * 2;
                font-size: $font-size-normal;
            }

            .role {
                margin-top: $spacing-extra-small;
            }
        }

        .information-links-wrapper {
            display: flex;
            justify-content: space-between;

            .information {
                display: flex;
    
                .statistics {
                    width: $spacing-large;
    
                    li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: $spacing-extra-small * 2;
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                a {
                    margin-bottom: $spacing-extra-small * 2;
                }
            }
        }
    }
}

.blogpost-page {
    margin-top: -$spacing-normal;

    @media only screen and (max-width: 1600px) {
        margin-top: 0;
    }

    .head {
        height: $spacing-normal;
        display: flex;
        justify-content: space-between;

        &, .user {
            display: flex;
            align-items: center;
        }

        .user-wrapper {
            text-decoration: none;

            .user .avatar {
                margin-right: $spacing-extra-small * 2;
            }
        }
    }

    .edit-blogpost-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: $spacing-extra-small * 2;

        .icon {
            margin-right: $spacing-extra-small;
        }
    }

    .blogpost-title {
        margin-bottom: $spacing-small;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
    }

    .content {
        margin-bottom: $spacing-small;
    }

    .actions {
        .action-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: $spacing-small;

            .icon {
                margin-right: $spacing-extra-small;
            }

            .label {
                user-select: none;
            }
        }
    }

    .blogpost-tags span:first-child{
        margin-right: $spacing-small;
    }
}

.admin-panel {
    .title {
        margin-left: $spacing-small;
    }

    .select__option {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        color: $color-normal;
        cursor: pointer;
    }

    .add-topic {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action {
            @include seperator-left;

            position: relative;
            padding: 0 $spacing-extra-small * 2;
            height: 56px;
            display: flex;
            align-items: center;
        }
    }

    .body {
        display: flex;
        margin-right: $spacing-large;

        aside {
            width: 300px;
            margin-right: $spacing-normal;
            
            a {
                text-decoration: none;

                div {
                    padding: $spacing-extra-small * 2 $spacing-small;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .content {
            flex-grow: 1;
        }

        .card {
            padding: $spacing-extra-small * 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $spacing-extra-small * 2;

            input {
                border: none;
                padding: 0;
            }
        }
    }
}

.topic-page {
    .title {
        text-align: center;
        margin-bottom: $spacing-normal;
        font-size: $font-size-large;
    }
}

.create-blogpost-form {
    display: flex;

    form {
        margin-right: $spacing-normal;
        flex-grow: 1;
    }
}