.form-page {
    .title {
        text-align: center;
    }

    form {
        $input-spacing: $spacing-small;

        .input, label {
            display: block;
        }

        label {
            margin-bottom: $spacing-extra-small;
        }

        .input {
            box-sizing: border-box;
            width: 100%;
        }

        .input {
            margin-bottom: $spacing-small;
        }

        .markdown-editor {
            margin-bottom: $input-spacing / 2;
        }

        .file-input-wrapper {
            display: flex;

            &:not(.multi) {
                margin-bottom: $input-spacing;
            }

            label {
                display: flex;
            }
        }

        .links {
            display: grid;
            grid-template: 
                "1fr 1fr"
                "1fr 1fr";
            grid-gap: $spacing-extra-small * 2;
            margin-bottom: $input-spacing;
        }

        .submit {
            display: flex;
            align-items: center;
            height: 40px;
            margin-right: $spacing-small;

            .icon {
                margin-right: 12px;
            }
        }

        .actions {
            display: flex;
        }

        .available-images {
            margin-bottom: $spacing-small;

            .item {
                font-size: $font-size-extra-small;
                margin: $spacing-extra-small 0;
                padding: $spacing-extra-small;
                display: flex;
                align-items: center;

                .image-wrapper {
                    width: 100px;
                    margin-right: $spacing-small;
                    display: flex;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.profile-comments-page, .profile-blogposts-page {
    .title {
        text-align: center;
        margin-bottom: $spacing-normal;
    }
}

.profile-comments-page {
    .comment {
        margin-bottom: $spacing-small;
        padding: $spacing-extra-small * 2;

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-extra-small;
            font-weight: $font-weight-normal;

            .prefix {
                font-weight: $font-weight-light;
            }
        }

    }
}

.profile-blogposts-page {
    padding: $spacing-extra-small;

    .paginated .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .blogpost-card {
            $spacing: $spacing-extra-small * 2;
            margin: 0 $spacing $spacing-normal $spacing;
        }
    }
}

.user-page {
    main {
        .head {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar {
                cursor: initial;
            }

            .username {
                margin-top: $spacing-extra-small * 2;
                font-size: $font-size-normal;
            }

            .role {
                margin-top: $spacing-extra-small;
            }
        }

        .information {
            display: flex;

            .statistics {
                width: $spacing-large;

                li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: $spacing-extra-small * 2;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.blogpost-page {
    margin-top: -$spacing-normal;

    @media only screen and (max-width: 1600px) {
        margin-top: 0;
    }

    .head {
        height: $spacing-normal;
        display: flex;
        justify-content: space-between;

        &, .user {
            display: flex;
            align-items: center;
        }

        .user-wrapper {
            text-decoration: none;

            .user .avatar {
                margin-right: $spacing-extra-small * 2;
            }
        }
    }

    .edit-blogpost-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: $spacing-extra-small * 2;

        .icon {
            margin-right: $spacing-extra-small;
        }
    }

    .blogpost-title {
        margin-bottom: $spacing-small;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
    }

    .content {
        margin-bottom: $spacing-small;
    }

    .actions {
        .action-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: $spacing-small;

            .icon {
                margin-right: $spacing-extra-small;
            }

            .label {
                user-select: none;
            }
        }
    }
}

.admin-panel {
    .title {
        text-align: center;
    }

    .select__option {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        color: $color-normal;
        cursor: pointer;
    }

    .add-topic {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action {
            @include seperator-left;

            position: relative;
            padding: 0 $spacing-extra-small * 2;
            height: 56px;
            display: flex;
            align-items: center;
        }
    }

    .control {
        margin-bottom: $spacing-small;
    }
}