$color-normal: #707070;
$color-light: rgba(122, 122, 122, .7);

$font-family: 'Roboto', sans-serif;

$font-size-extra-small: 16px;
$font-size-small: 20px;
$font-size-normal: 30px;
$font-size-large: 40px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$spacing-extra-small: .4rem;
$spacing-small: 1.6rem;
$spacing-normal: 3.2rem;
$spacing-large: 12.8rem;
$spacing-extra-large: 25.6rem;

@mixin shadow-depth-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow-depth-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin seperator-top {
    &::before {
        $spacing: $spacing-extra-small * 2;
        content: "";
        position: absolute;
        left: $spacing; right: $spacing;
        height: 1px;
        background-color: $color-light;
        z-index: 10;
    }
}

@mixin seperator-left {
    &::before {
        $spacing: 12px;
        content: "";
        position: absolute;
        left: 0; top: $spacing; bottom: $spacing;
        width: 1px;
        background-color: $color-light;
        z-index: 10;
    }
}