$color-normal: #707070;
$color-light: rgba(122, 122, 122, .7);

$font-size-extra-small: 16px;
$font-size-small: 20px;
$font-size-normal: 30px;
$font-size-large: 40px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$spacing-extra-small: 8px;
$spacing-small: 32px;
$spacing-normal: 64px;
$spacing-extra-large: 512px;